name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  Build:
    uses: ./.github/workflows/build.yml
    with:
      artifacts: true
    permissions:
      contents: write

  Release:
    needs: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Download artifacts
        uses: actions/download-artifact@v4
        # after this we have changes in file dist/index.js

      # generate new version, commit and push commit + tags
      - name: Release
        id: release
        uses: agilecustoms/publish@main
        env:
          GH_TOKEN: ${{ secrets.GH_PUBLIC_RELEASES_TOKEN }}

      - name: Summary
        run: echo "### Released ${{ steps.release.outputs.version }}" >> $GITHUB_STEP_SUMMARY
